<nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-4">
    <div class="container">
      <a class="navbar-brand" href="index.html">Mundo Animal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="index.html">Início 🏠</a>
          <a class="nav-link" href="animal.html?nome=Tigre">🐅 Tigre</a>
          <a class="nav-link" href="animal.html?nome=Onça-Pintada">🐆 Onça-Pintada</a>
          <a class="nav-link" href="animal.html?nome=Lobo">🐺 Lobo</a>
          <a class="nav-link" href="animal.html?nome=Camaleão">🦎 Camaleão</a>
          <a class="nav-link" href="animal.html?nome=Dragão-de-Komodo">🐲 Dragão de Komodo</a>
        </div>
      </div>
    </div>
  </nav>